        @import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
        /* Reset styles */
        
        html,
        body {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
        }
        
        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        ul,
        li,
        a,
        span,
        div,
        p {
            margin: 0;
            padding: 0;
            font-family: 'Lato', sans-serif;
            text-decoration: none;
            list-style: none;
        }
        
        a {
            cursor: pointer;
        }
        /* header */
        
        .header {
            background: #000000 url(../img/title-web.png) 100% no-repeat;
            background-size: cover;
            color: #fff;
            text-align: center;
            min-height: 773px;
            height: 773px;
            width: 100%;
            overflow: hidden;
        }
        
        .box {
            padding: 0px 135px;
            padding: 0px 10.8%;
            position: relative;
            height: 100%;
            max-width: 1700px;
            max-width: 1024px
        }
        
        .header__title {
            font-size: 52px;
            font-weight: 700;
            padding: 60px 30px 0px;
            padding: 4% 2.4% 0%;
            text-align: center;
            line-height: 1.23;
            position: relative;
        }
        
        .container {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        
        .menu {
            position: absolute;
            z-index: 4;
            bottom: 50px;
        }
        
        .menu__item {
            border-radius: 5px;
        }
        
        .menu__item:first-child {
            background: #ff8800;
        }
        
        .menu__item:last-child {
            background: #0073ae;
        }
        
        .menu__item a {
            display: inline-block;
            color: #fff;
            font-size: 24px;
            font-weight: 300;
            padding: 0px 77px;
            min-height: 64px;
            line-height: 64px;
        }
        
        .menu__item:hover a {
            color: #665f60;
        }
        /* slaider */
        
        .slaider__header {
            padding: 100px 0px 0px;
        }
        
        .slaider__title {
            padding: 0px 140px 33px;
            padding: 0px 11.2% 33px;
        }
        
        .slaider__title a {
            font-size: 34px;
            line-height: 1.2;
            color: #0073ae;
        }
        
        .slaid-img-1 {
            padding: 75px 0px 65px 0px;
        }
        
        .slaid-img-2 {
            padding: 84px 0px 73px 0px;
        }
        
        .slaid-text {
            max-width: 270px;
            text-align: center;
            font-size: 18px;
            line-height: 1.278;
            color: #585858;
        }
        
        .slaid-text-1 {
            max-width: 270px;
            margin: 0 80px 66px;
        }
        
        .slaid-text-2 {
            max-width: 254px;
            margin: 0 80px 66px;
        }
        
        .slaid-text-3 {
            max-width: 335px;
            margin: 0 80px 66px;
        }
        
        .slick-slaider:last-child {
            padding-bottom: 70px;
        }
        
        @media screen and (max-device-width: 768px) {
            .box {
                padding: 0px 14px;
                /* padding: 0px 10.8%; */
                position: relative;
                height: 100%;
                max-width: 740px;
            }
            .header {
                background: #000000 url(../img/title-mob.jpg) no-repeat;
                background-size: cover;
                position: relative;
                z-index: 2;
                min-height: 387px;
                height: 387px;
                width: 100%;
            }
            .overlay {
                background-color: rgba(0, 0, 0, 0.4);
                position: absolute;
                z-index: 3;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                height: 387px;
                width: 100%;
                overflow: hidden;
            }
            .header__title {
                font-size: 36px;
                font-weight: 700;
                line-height: 1.056;
                padding: 95px 35px 30px;
                padding: 95px 0px 30px;
                text-align: center;
                min-width: 287px;
                position: relative;
                text-align: center;
                z-index: 7;
            }
            .menu {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                flex-wrap: wrap;
                padding-top: 35px;
                width: 300px;
                position: relative;
                z-index: 99;
            }
            .menu__item a {
                display: inline-block;
                color: #fff;
                font-size: 18px;
                font-weight: 300;
                padding: 0px 22px;
                min-height: 47px;
                line-height: 47px;
            }
            .slaider {
                display: none;
            }
            .slaider-mob {
                padding: 32px 0px 35px;
            }
            .slaider-mob__img {
                background: rgba(245, 245, 245, 0.8);
                box-sizing: border-box;
                border: 1px #ebebeb solid;
                border-radius: 5px;
                width: 100%;
                padding: 20px 20px 0px 20px;
            }
            .toggle-slaid {
                background: #fff;
                width: 293px;
                width: 100%;
                box-sizing: border-box;
                border: 1px #ebebeb solid;
                border-radius: 0px 0px 5px 5px;
                position: relative;
                top: -22px;
            }
            .wrapper_relative {
                position: relative;
            }
            .animate {
                position: absolute;
                bottom: -3px;
                left: 22%;
                z-index: 99;
                transition: all 0.3s ease;
                transform: translateX(126px);
            }
            .animateactive,
            animate:hover {
                transform: translateX(0px);
            }
            .slaider__header {
                padding-top: 30px;
            }
            .slaider__title {
                padding: 0px 15px 25px;
            }
            .slaider__title a {
                font-size: 15px;
                line-height: 1.6;
                color: #585858;
                text-transform: uppercase;
                font-weight: 400;
            }
            .slaider__title a:hover {
                color: #0073ae;
            }
            .slaid-text {
                font-weight: 400;
                text-align: left;
                font-size: 16px;
                line-height: 1.375;
                color: #585858;
                padding: 0px 15px 50px;
            }
            /* Slideshow container */
            .slideshow-container {
                max-width: 1000px;
                position: relative;
                margin: auto;
            }
            /* Hide the images by default */
            .mySlides {
                display: none;
            }
            .dottitle {
                cursor: pointer;
                width: auto;
                margin-top: -22px;
                padding: 16px;
                color: #0073ae;
                font-weight: bold;
                font-size: 18px;
                transition: 0.6s ease;
                border-radius: 0 3px 3px 0;
            }
            .activetitle,
            .dottitle:hover {
                color: #665f60;
            }
            /* The dots/bullets/indicators */
            .dot-wrapper {
                text-align: center;
            }
            .dot {
                cursor: pointer;
                text-align: center;
                height: 11px;
                width: 11px;
                margin: 0 2px;
                background-color: #e6e6e6;
                border: 1px #e6e6e6 solid;
                border-radius: 50%;
                display: inline-block;
                transition: background-color 0.6s ease;
            }
            .active,
            .dot:hover {
                background-color: transparent;
                border: 1px #585858 solid;
            }
            /* Fading animation */
            .fade {
                animation-name: fade;
                animation-duration: 1.5s;
            }
            @keyframes fade {
                from {
                    opacity: .4;
                }
                to {
                    opacity: 1;
                }
            }
        }
        
        @media screen and (min-device-width: 769px) {
            .menu__item:last-child {
                display: none;
            }
            .slaider-mob {
                display: none;
            }
        }